@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.fon{
    width: 100%;
}

.welcome{
    color: rgb(25, 25, 70);
    position: absolute;
    display: flex;
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    margin: auto;
    top: 300px;
    left: 45%;
    
}

.container{
    position: absolute;
}

.header{
    position: absolute;
    display: flex;
    top: 10px;
}

.list{
    list-style: none;
    display: flex;
    padding-left: 1200px;
}

.list li{
    padding-right: 10px;
}

.galaxy{
    display: flex;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 600;
}



